.Blogmusic{
    padding:80px 80px;
}
.BlogmusicHeading{
    text-align: center;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
}
.BlogmusicHeading a{
    color: #e21f2f;
    text-decoration: none;
}
.BlogmusicHeadingline{
    width: 30px;
    margin: 10px auto;
    border:1px solid  #e21f2f;
    border-width: 0.01em;
    margin-bottom: 50px;
}
.BlogmusicCol{
    display: flex;
    flex-direction: row;
}
.BlogmusicCol1{
    flex: 2.7;
}
.BlogmusicCol1Mainrow{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
}
.BlogmusicCol1MainrowText{
    text-align: left;
    margin-left: 20px;
    color: #171719;
}
.BlogmusicCol1MainrowTextBy{
    margin-top: 30px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 15px;
}
.BlogmusicCol1MainrowTextBy a{
    padding: 0 8px;
    text-decoration: none;
    color: #171719;
}
.BlogmusicCol1MainrowTextBy p{
    display: inline;
    padding: 0 8px;
}
.BlogmusicCol1MainrowTextBy a:hover{
color: #e21f2f;
}
.BlogmusicCol1MainrowTextByActive{
    color: #e21f2f!important;
}
.BlogmusicCol1MainrowTextTitle{
    text-decoration: none;
    color: inherit;
    font-size:18px;
}
.BlogmusicCol1MainrowTextTitle:hover{
color: #e21f2f;
}
.BlogmusicCol1MainrowTextDesc{
    margin-top: 30px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    line-height: 26px;
    font-weight: 300;
    color: #888888;   
    padding-bottom: 30px;

}
.BlogmusicCol1MainrowTextBtn{
    text-decoration: none;
    display: none;
    
}
.BlogmusicCol1MainrowTextArrow{
    color: #888888;

}
.BlogmusicCol1MainrowTextArrow:hover ,.BlogmusicCol1MainrowTextBtn{
    color: #e21f2f;
}

.BlogmusicCol1Mainrow a img:hover{
opacity: 0.9;
}
.BlogmusicCol1Row{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 50px;
width: 400px;
    display: flex;
    flex-direction: row;
}
.BlogmusicCol1Box{
    margin-right: 10px;
}
.BlogmusicCol1Box img{
    display: block;
}
.BlogmusicCol1BoxBy{
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
}
.BlogmusicCol1Box a{
    font-weight: 600;

    padding: 8px 8px;
text-decoration: none;
color: inherit;
}
.BlogmusicCol1Box a:hover{
    color: #e21f2f;
}
.BlogmusicCol1Box p{
    font-weight: 600;
    padding: 0 8px;
    display: inline;
}
.BlogmusicCol1BoxActive{
    color: #e21f2f!important;
}
.BlogmusicCol1BoxTitle{
    font-weight: 600;
    font-size: 18px;
}



.BlogmusicCol1Btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color:#888888;
    font-weight: 600;
    font-size: 12px;
}
.BlogmusicCol1Btn:hover{
    color: #e21f2f;
}


.BlogmusicCol2{
    display: flex;
    flex-direction: column;
    flex: 1.3;  
    text-align: left; 
    color: #171719;
}

.BlogmusicCol2HeadingLine{
/* transform:rotate(90deg); */
    float: left;
    width: 30px;
    margin: 15px 0;
    margin-bottom: 35px;
    border:1px solid  #e21f2f;
    border-width: 0.01em;
}
.BlogmusicCol2Row {
    height: 55px;
    padding: 8px;
    font-size: 13px;
    color: #171719;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}



.BlogmusicCol2RowLine{
    width: inherit;
    border:0.1px solid #888888;
}
.BlogmusicCol2Row:hover  .BlogmusicCol2RowLine{
    border:0.1px solid #e21f2f;
}

.BlogmusicCol2RowText{
    margin-left: 15px;
}
.BlogmusicCol2RowType{
    color: #888888;
    margin-top: 4px;
display:block;
margin-bottom: 3px;
}
.BlogmusicCol2RowTitle{
    color: #171719;
    font-weight: 600;
display: inline;
}
.BlogmusicCol2RowBy{
    color: #171719;
    font-weight: 300;
    display: inline;

}

.BlogmusicEndline{
    margin-top: 50px;
    width: inherit;
    border:0.1px transparent #d9d5d5;
}