.List {
    background-color: black;
    color: #fff;
}

.ListSection {
    display: flex;
    flex-direction: row;
    margin-left: 20%;
    margin-right: 25%;
    padding-top: 5%;
    padding-bottom: 5%;

}

.ListSectionColumn1 img {
    margin-bottom: 12px;
}

.ListSectionColumn1 span {
    font-size: 13px;
    color: #AAAAAA;
}

.ListSectionColumn1 span a {
    text-decoration: none;
    margin-bottom: 10px;
    color: #fff;
    padding: 0px 15px;
    color: #AAAAAA;
}

.ListSectionColumn1 span a:hover {
    color: #34DDDD;
}

.ListSectionColumn2 {
    margin-left: 20px;
    text-align: left;
}

.ListSectionColumn2Date {
    color: #AAAAAA;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 5px;
    display: inline-block;
}

.ListSectionColumn2Heading {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;

}

.ListSectionColumn2Heading a:hover {
    color: #34DDDD;
}

.ListSectionColumn2Heading a {
    text-decoration: none;
    color: #fff;
}

.ListSectionColumn2 span {
    display: block;
}

.ListSectionColumn2Items span {
    color: #EEEEEE;
    padding-bottom: 2px;
    font-size: 14px;
    margin-bottom: 7px;
    font-weight: 300;
}