.footer{
  background-color: black;
  display: flex;
  height: 80px;
  width: 100%;
  margin: auto 0px;
  
}
.footer_text,.footer_iconsRed{
 color: #AAAAAA;
 position: relative;
 top: 2px;
 left: 75px;
display: flex;
justify-content: center;
font-size: 13px;
align-items: center;


}
.footer_text a,.footer_iconsRed a{

  text-decoration: none;
  padding: 0 5px;
  color: #fff;
}
.footer_text a:hover{
  color: #34DDDD;
}
.footer_iconsRed:hover{
  color: #e21f2f;
  
}
.footer_icons{
  cursor: pointer;
  position: relative;
  top: 10px;
left: 45%;
display: flex;
  justify-content: center;
  align-items: center; 
  padding: 30px;
}
.footer_iconsRed{
  cursor: pointer;
  position: relative;
  top: 10px;
left: 50%;
display: flex;
  justify-content: center;
  align-items: center; 
  padding: 30px;
}
.footer_icons a,.footer_iconsRed a{
  display: flex;
justify-content: center;
align-items: center; 
  font-size: 23px; 
  padding: 10px;
  list-style: none;
  text-decoration: none;
  color: white;
}
.footer_icons a:hover{
  color: #34DDDD;
}

.footer_iconsRed a:hover{
  color: #e21f2f;

}


@media (max-width: 700px){
.footer{
font-size: 11px;
}
}